@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;500;600;700;800&display=swap');
body{
	margin: 0;
	padding: 0;
	font-family: 'Poppins', sans-serif;
	font-size: 16px;
	color: #333;
	line-height: 30px;
}
i{
	font-family:'FontAwesome';
	font-style: normal;
}
ul{
	padding: 0;
	list-style: none;
}
a{
	text-decoration:none;
}

h1, h2, h3, h4, h5, h6, p{
	font-family: 'Poppins', sans-serif;
}
header {
    position: fixed;
    width: 100%;
}
.topbar {
    background: #b7921a;
    padding: 5px 0;
}

.topbar ul{
	margin-bottom: 0;
}

.topbar ul.sicons li{
	display: inline-block;
	margin-right: 5px;
}
.topbar ul.sicons li a{
	color: #b7921a;
    width: 27px;
    height: 27px;
    background: #fff;
    display: inline-block;
    border-radius: 50%;
    text-align: center;
    line-height: 27px;
}
.topbar ul.add-s{
	text-align: right;
}
.topbar ul.add-s li{
	display: inline-block;
	margin-left: 15px;
	position: relative;
	font-size: 13px;
	text-transform: uppercase;
}
.topbar ul.add-s li:after{
	position: absolute;
	content: "";
	right: -9px;
    top: 5px;
	width: 1px;
	height: 15px;
	background: #00152c;
}

.topbar ul.add-s li:last-child:after{
	display: none;
}

.topbar ul.add-s li a{
	color: #00152c;
	text-decoration: none;
}
.topbar ul.add-s li a span{
	margin-right: 5px;
	font-size: 15px;
}

header .navbar.bg-light {
    background: #e0e0e078 !important;
}
header .navbar .navbar-collapse{
	justify-content: flex-end;
}
header .navbar.bg-light .navbar-nav{
	margin-right:30px;
}
header .navbar.bg-light .navbar-nav li{
	font-size: 16px;
	text-transform: uppercase;
}
header .navbar.bg-light .navbar-nav li a{
	color: #000;
	padding: 5px 15px;
}
header .navbar.bg-light .navbar-nav li span{
	margin-right: 5px;
}
.cart-icon{
	position: relative;
}
.cart-icon:after{
	position: absolute;
    content: "";
    left: -24px;
    top: 0px;
    width: 1px;
    height: 45px;
    background: #cccccca6;
}
.cart-icon a {
    font-size: 30px;
    color: #000;
}
section.hero-sec {
    padding-top: 132px;
}
section.menu-sec {
    padding: 50px 0;
}

.title {
	text-align: center;
	padding: 0 10% !important;
	margin-bottom: 30px;
}
.title h4{
	font-size: 28px;
	color: #b7921a;
	text-decoration: underline;
	text-transform: capitalize;
	font-weight: 400;
}

.title h3{
	font-size: 50px;
	color: #333333;
	text-transform: capitalize;
	font-weight: 600;
	margin-bottom: 15px;
}
.title p{
	font-size: 16px;
	color: #333333;
	letter-spacing: 1px;
	line-height: 25px;
}

.menu-sec .menu{
	border: 2px dashed #4d4d4d3b;
    padding: 30px;
}

.menu-sec .menu-item {
    margin-bottom: 40px;
}
.menu-sec .menu-item:last-child{
	margin-bottom: 0;
}
.menu-sec .menu-item h3{
	font-size: 25px;
	color: #001935;
	font-weight: 600;
	margin-bottom: 15px;
	position: relative;
}
.menu-sec .menu-item h3:after{
	width: 200px;
    height: 1px;
    border-bottom: 1px dashed #b9b6b6;
    position: absolute;
    content: "";
    right: 0;
    top: 14px;
}
.menu-sec .menu-item p{
	font-size: 16px;
	line-height: 24px;
	margin-bottom: 0;
}

section.big-sec {
    background: url(../imgs/bg.jpg);
    padding:140px 0;
    display: flex;
    text-align: center;
    background-size: contain;
    background-position: center;
}

section.big-sec h4{
	color: #fff;
	font-size: 35px;
	font-weight: 400;
}
section.big-sec h3{
	color: #fff;
	font-size: 63px;
	font-weight: 700;
	line-height: 90px;
}
section.big-sec h3 span{
	font-size: 86px;
}
.cstm-btn.btn.btn-primary{
	background: #b7921a !important;
    border: none;
    border-radius: 20px;
    line-height: 30px;
    text-transform: uppercase;
    font-weight: 700;
    padding: 8px 25px;
    margin-top: 20px;
}
section.product-sec {
    padding: 50px 0;
}

section.product-sec .p-item{
	text-align: center;
	padding: 0 15px;
}
section.product-sec .p-item .p-item-img{
	margin-bottom: 30px;
}
section.product-sec .p-item img{
	width: 100%;
	height: auto;
}
section.product-sec .p-item .p-item-cotnt{
	position: relative;
}
section.product-sec .p-item .p-item-cotnt h3{
	font-size: 25px;
	font-weight: 700;
}
section.photo-gal-sec {
    padding: 50px 0;
}
section.photo-gal-sec .img-box img{
	width: 100%;
	height: auto;
}
.cstm-btn span{
	margin-left: 10px;
}
@media(max-width: 767px){
	section.steps-sec .step.btm:before,
	section.steps-sec .step:after{
		display: none;
	}
	section.register-sec .txt{
		margin: 0 !important;
		padding: 0 !important;
	}
	.custom-modal .modal-content{
		padding: 0;
	}
	.custom-modal ul li{
		width: 49%;
	}

	.custom-modal ul li label{
		padding: 18px 5px 17px 45px;
	}
	.custom-modal .form-area{
		padding: 20px;
	}
}