<template>
    <div class="status-type-icon" :class="statusClass">
         <span>{{ statusLabel }}</span>      
    </div>
</template>

<script>
export default {
    components: {},

    /*
    |--------------------------------------------------------------------------
    | Component > props
    |--------------------------------------------------------------------------
    */
    props: {
        statusType: {
            default: null,
        },
    }, // End of Component > props

    /*
    |--------------------------------------------------------------------------
    | Component > data
    |--------------------------------------------------------------------------
    */
    data() {
        return {}
    }, // End of Component > data

    /*
    |--------------------------------------------------------------------------
    | Component > computed
    |--------------------------------------------------------------------------
    */
    computed: {
        statusClass() {
            if (this.statusType === 'pending') {
                return 'pending'
            }
            if (this.statusType === 'received') {
                return 'received'
            }
            if (this.statusType === 'processing') {
                return 'in-process'
            }
            if (this.statusType == 'in-process') {
                return 'in-process'
            }
            if (this.statusType == 'ready') {
                return 'ready'
            }
            if (this.statusType == 'ready_for_pickup') {
                return 'ready_for_pickup'
            }
            if (this.statusType == 'delivered') {
                return 'delivered'
            }
            if (this.statusType == 'cancelled') {
                return 'cancelled'
            }
            if (this.statusType == 'accepted') {
                return 'accepted'
            }
            if (this.statusType == 'completed') {
                return 'completed'
            }
            if (this.statusType == 'on_the_way') {
                return 'on_the_way'
            }
            return 'pending'
        },

        statusLabel() {
            if (this.statusType == 'pending') {
                return 'Pending'
            }
            if (this.statusType == 'received') {
                return 'Received'
            }
            if (this.statusType === 'processing') {
                return 'Processing'
            }
            if (this.statusType == 'in-process') {
                return 'In process'
            }
            if (this.statusType == 'ready') {
                return 'Ready'
            }
            if (this.statusType == 'ready_for_pickup') {
                return 'Ready for pickup'
            }
            if (this.statusType == 'delivered') {
                return 'Delivered'
            }
            if (this.statusType == 'cancelled') {
                return 'Cancelled'
            }
            if (this.statusType == 'accepted') {
                return 'Accepted'
            }
            if (this.statusType == 'completed') {
                return 'Completed'
            }
            if (this.statusType == 'on_the_way') {
                return 'On the way'
            }
            return 'Pending'
        },
    }, // End of Component > computed

    /*
    |--------------------------------------------------------------------------
    | Component > methods
    |--------------------------------------------------------------------------
    */
    methods: {}, // End of Component > methods

    /*
    |--------------------------------------------------------------------------
    | Component > mounted
    |--------------------------------------------------------------------------
    */
    mounted() {}, // End of Component > mounted
} // End of export default
</script>
