<template>
    <div>
        <b-modal
            id="login-popup"
            @hidden="onHidden"
            centered
            ok-variant="primary"
            title-tag="h5"
            size="md"
            :hide-footer=true
            ref="myModalRef"
            custom-modal
            no-close-on-backdrop
            class="custom-modal">

            <div class="header-modal">
                <h3 style="text-align:center">
                    <span class="close-icon" @click="hideModal()">
                        <img src="/images/remove.png">
                    </span>
                </h3>
            </div>

            <div class="modal-body">
               
                <div class="login-section">
                    <div class="social-login">
<!--                        <div class="row">-->
<!--                            <div class="col-md-12">-->
<!--                                <a href="javascript:;" class="social-btn btn-google">-->
<!--                                    <span>-->
<!--                                        <img src="images/google.png" alt="">-->
<!--                                    </span>-->
<!--                                </a>-->
<!--                                <a href="javascript:;" class="social-btn btn-fb">-->
<!--                                    <span>-->
<!--                                        <img src="images/facebook.png" alt="">-->
<!--                                    </span>-->
<!--                                </a>-->
<!--                            </div>-->
<!--                        </div>-->
                    </div>


                    <div class="login-inputs">
                        <form a @submit.prevent="login">
                            <div class="simple-login" v-if="showLogin">

                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label for="">Email:</label>
                                            <input type="text" class="form-control" placeholder="Enter your Email" v-model="userRegister.email">
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label for="">Password:</label>
                                            <input type="password" class="form-control" placeholder="Enter your Password" v-model="userRegister.password">
                                        </div>
                                    </div>

                                    <div class="col-md-12">
                                        <div class="forgot-password" @click="forgotPassword">
                                            <a href="javascript:;">Forgot password?</a>
                                        </div>
                                    </div>

                                    <div class="col-md-12 mb-2">
                                        <button class="custom-btn btn-block">Login</button>
                                    </div>
                                </div>
                            </div>

                            <div class="forgot-password-input" v-if="showForgot">
                                <div class="row">
                                   <div class="col-md-12">
                                        <div class="form-group">
                                            <label for="">Password:</label>
                                            <input type="password" class="form-control" placeholder="Enter your Password">
                                       </div>
                                    </div>

                                    <div class="col-md-12">
                                       <div class="form-group">
                                            <label for="">Confirm Password:</label>
                                            <input type="password" class="form-control" placeholder="Enter your Confirm Password">
                                       </div>
                                    </div>

                                    <div class="col-md-12">
                                       <div class="forgot-password" @click="backToLogin">
                                            <a href="javascript:;">Back to Login</a>
                                        </div>
                                    </div>

                                    <div class="col-md-12 mb-2">
                                        <button class="custom-btn btn-block">Reset Password</button>
                                    </div>
                                </div>
                            </div>

                            <div class="register-popup" @click="registerPopup">
                                <a href="javascript:;">
                                    <h6 class="divider line one-line" contenteditable>Signup</h6>
                                </a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

        </b-modal>
        <register-popup @HideModalValue="hideModal" :showModalProp="registerModal"></register-popup>
    </div>
</template>


<script>
    export default {
        /*
        |--------------------------------------------------------------------------
        | Component > props
        |--------------------------------------------------------------------------
        */

        props: ['showModalProp'],  // End of Component > props

        /*
        |--------------------------------------------------------------------------
        | Component > Data
        |--------------------------------------------------------------------------
        */

        data: function () {
            return {
                showForgot: false,
                showLogin: true,
                registerModal: false,
                userRegister:{
                    email:'',
                    password:'',
                    device_type:'web',
                    device_token:'web',
                },
                reg: /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,24}))$/,

            };
        },  // End of Component > data

        /*
        |--------------------------------------------------------------------------
        | Component > Methods
        |--------------------------------------------------------------------------
        */

        methods: {
            showModal() {
                this.$refs.myModalRef.show();
            },
            onHidden() {
                this.$emit('HideModalValue');
            },

            hideModal() {
                var self = this;
                this.$refs.myModalRef.hide();
                this.$bvModal.hide('login-popup');
                this.showForgot = false;
                this.showLogin = true
            },

            forgotPassword() {
                this.showForgot = true;
                this.showLogin = false
            },

            backToLogin() {
                this.showForgot = false;
                this.showLogin = true
            },

            registerPopup() {
                this.$emit('HideModalValue');
                this.registerModal = true;
            },

            login() {

                if(this.userRegister.email == ''){
                    alert("Email required")
                    return;
                }
                if (this.userRegister.email != '') {
                    if(!this.reg.test(this.userRegister.email)){
                        alert('Invalid Email Address');
                        return;
                    }

                }
                if (this.userRegister.password == '') {
                    alert('Provide Password');
                    return;
                }



                let vm = this;

                axios({
                    method: 'post',
                    url: '/api/auth/login',
                    data: this.userRegister,
                }).then(function (response) {
                    vm.$store.commit('setUserData', JSON.stringify(response.data));
                    vm.hideModal();
                    location.reload();

                }).catch(error => {
                    if(error.response){
                        alert( "Already Email Exist Please Login" );
                    }
                });

            },

        },  // End of Component > methods

        /*
        |--------------------------------------------------------------------------
        | Component > watch
        |--------------------------------------------------------------------------
        */

        watch: {
            showModalProp(value) {
                if (value) {
                    this.showModal();
                }
                if (!value) {
                    this.hideModal();
                }
            }
        },  // End of Component > watch
    }
</script>
