<template>
    <div>
        <header-menu></header-menu>
        <section class="hero-sec">

            <carousel :centerMode="true" :perPage="1" :autoplayTimeout="3000" :loop="true" :mouse-drag="true" :autoplay="true">
                <slide class="slide-1">
                    <img src="images/banner/Banner_Slide_car.png">
                </slide>
                <slide class="slide-2">
                    <img src="images/banner/Banner_Slide_Chicken-v2.png">
                </slide>
                <slide class="slide-3">
                    <img src="images/banner/Banner_Slide_Wings-v2.png">
                </slide>
                <slide class="slide-4">
                    <img src="images/banner/Banner_Slide_Desert-v2.png">
                </slide>
            </carousel>
        </section>
        <section class="big-sec">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <h4>Our Offer</h4>
                        <h3>
                            If You Buy Two Burger<br>
                            <span>Get One Free</span>
                        </h3>
                        <a href="#" class="btn cstm-btn btn-primary" @click.prevent="openPostalCode">
                            order now <span><i class="fa fa-caret-right" aria-hidden="true"></i>
                            </span>
                        </a>
                    </div>
                </div>
            </div>
        </section>
<!--         <section class="product-sec">
            <div class="container">
                <div class="row">
                    <div class="title col-12">
                    <h4>Quality Products</h4>
                    <h3>Choose & Order Now!</h3>
                    <p>Dark Kitchen Coming To Moseley, Birmingham. Serving Your Favourite Foods With The Most Succulent Flavours.Follow Us On Social Media To Keep In Check With Our Latest Updates.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-lg-3">
                        <div class="p-item">
                            <div class="p-item-img">
                                <img src="/images/main-img.png">
                            </div>
                            <div class="p-item-cotnt">
                                <h3>Brown Rice Pasta</h3>
                                <p>Lorem Lipsum Dolor Sit Amet Consectetur
                                Adipiscing Ipsum Suspendiese Ultrices Gravida.</p>
                                <a href="#" class="btn cstm-btn btn-primary">
                                order now <span><i class="fa fa-caret-right" aria-hidden="true"></i>
                                </span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-lg-3">
                        <div class="p-item">
                            <div class="p-item-img">
                                <img src="/images/main-img.png">
                            </div>
                            <div class="p-item-cotnt">
                                <h3>Brown Rice Pasta</h3>
                                <p>Lorem Lipsum Dolor Sit Amet Consectetur
                                Adipiscing Ipsum Suspendiese Ultrices Gravida.</p>
                                <a href="#" class="btn cstm-btn btn-primary">
                                order now <span><i class="fa fa-caret-right" aria-hidden="true"></i>
                                </span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-lg-3">
                        <div class="p-item">
                            <div class="p-item-img">
                                <img src="/images/main-img.png">
                            </div>
                            <div class="p-item-cotnt">
                                <h3>Brown Rice Pasta</h3>
                                <p>Lorem Lipsum Dolor Sit Amet Consectetur
                                Adipiscing Ipsum Suspendiese Ultrices Gravida.</p>
                                <a href="#" class="btn cstm-btn btn-primary">
                                order now <span><i class="fa fa-caret-right" aria-hidden="true"></i>
                                </span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-lg-3">
                        <div class="p-item">
                            <div class="p-item-img">
                                <img src="/images/main-img.png">
                            </div>
                            <div class="p-item-cotnt">
                                <h3>Brown Rice Pasta</h3>
                                <p>Lorem Lipsum Dolor Sit Amet Consectetur
                                Adipiscing Ipsum Suspendiese Ultrices Gravida.</p>
                                <a href="#" class="btn cstm-btn btn-primary">
                                order now <span><i class="fa fa-caret-right" aria-hidden="true"></i>
                                </span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section> -->

        <section class="photo-gal-sec">
            <div class="container">
                <div class="row">
                    <div class="title col-12">
                    <!-- <h4>Photos</h4> -->
                    <!-- <h3>Our Food Gallery!</h3> -->
                    <p>Follow Us On Social Media To Keep In Check With Our Latest Updates.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-3">
                        <div class="img-box">
                            <img src="/images/1.jpg">
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="img-box">
                            <img src="/images/2.jpg">
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="img-box">
                            <img src="/images/3.jpg">
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="img-box">
                            <img src="/images/4.jpg">
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <div data-mc-src="7c745a39-6adb-4ded-a5b8-d57626933118#instagram"></div>
        <section>




            <download-menu @HideModalValue="hideModal" :showModalProp="showPopup" :isMenu="menu" :isAllergy="allergy" ></download-menu>
            <postal-code-popup  @HideModalValue="hideModal"   :showModalProp="showPostalCode"></postal-code-popup>
        </section>

<!--             <div class="ice_video_wrapper">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="video_detail text-center">
                                <a href="https://www.youtube.com/embed/Zy33XDwGVxc" class="video" target="_blank">
                                    <img src="images/play.png" alt="">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>  -->

        <footer-menu></footer-menu>

    </div>
</template>

<script>

import VueGallery from 'vue-gallery';
    import { Carousel, Slide } from 'vue-carousel';

    import {
        Hooper,
        Navigation as HooperNavigation
    } from 'hooper';

    import 'hooper/dist/hooper.css';
    export default {
        components: {
            Hooper,
            HooperNavigation,
            'gallery': VueGallery,
            Carousel,
            Slide,
        },
        data: function () {
            return {
                images: [
                    '../../images/mainbanner1.jpeg',
                    '../../images/image00003.jpg',
                ],
                stories: [],
                index: null,
                showPopup: false,
                menu: false,
                allergy: false,
                categories:[],
                postal_code: '',
                error_message: '',

                showPostalCode: false,
            };
        },
        created() {
            this.getStory();
            this.getCategories();


        },
        methods: {
            getStory(){
                let  _this = this
                _this.loading  = true;
                axios.get('/api/our-story')
                    .then((response) => {
                        _this.stories =  response.data.data;
                        _this.loading  = false;
                    });
            },


            openPostalCode() {
                this.showPopup = false;
                this.allergy = false;
                this.menu = false;
                this.showPostalCode = true;
            },

            getCategories(){
                let  _this = this;
                _this.loading  = true;
                axios.get('/api/categories')
                    .then((response) => {
                        _this.categories =  response.data.data;
                        console.log(this.categories);
                        _this.loading  = false;

                    });
            },

            returnPriceValue(product){
                let price_string = '';
                if(product.sizes.length){

                    for(var price in  product.sizes){
                        price_string = product.sizes[0].price;
                    }
                }else {
                    price_string = product.price;
                }

                return '£'+price_string

            },

            hideModal() {
                this.showPopup = false;
                this.showPostalCode = false;
            },

        }
    }
</script>


